body {
    background-color: hsl(15, 86%, 98%);
    font-family: 'Noto Sans', Helvetica, sans-serif;
    color: hsl(0, 0%, 24%);
}

.main-color {
    color: hsl(28, 87%, 65%);
}

h1, h2, h5 {
    font-family: 'Fira Sans', Helvetica, sans-serif;
}

h1 {
    font-weight: 900;
}

#brand-name {
    font-size: 2rem;
    font-weight: 900;
    color: hsl(0, 0%, 95%);
}

.navbar {
    height: 80px;
    background-image: linear-gradient(to right, #f2c94c, #f3c04a, #f4b749, #f4ae49, #f4a549, #f4a549, #f4a549, #f4a549, #f4ae49, #f4b749, #f3c04a, #f2c94c);
}

.img-carousel {
    object-fit: cover;
    opacity: 1;
}

.carousel-caption {
    color: hsl(0, 0%, 24%);
    text-shadow: 2px 2px 19px rgba(0, 0, 0, 0.16);
}

.carousel-caption-h1 {
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.8);
    font-size: 3.0rem;
}

.carousel-caption-h1-sub {
    font-size: 3.5rem;
}

.main-price {
    font-size: 2.5rem;
}

.btn-telegram, .btn-whatsapp {
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.16);
}

.purchase-contact {
    /*background-color: hsl(28, 87%, 65%);*/
    background-image: linear-gradient(to right, #f2994a, #f3a249, #f4ab48, #f4b448, #f4bd49, #f4bd49, #f4bd49, #f4bd49, #f4b448, #f4ab48, #f3a249, #f2994a);
    color: hsl(0, 0%, 95%);
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    text-shadow: 2px 2px 2px hsl(0, 0%, 65%);
}

.purchase-contact-card-title {
    font-size: 3rem;
}