body {
    background-color: hsl(15, 86%, 98%);
    font-family: 'Noto Sans', Helvetica, sans-serif;
    color: hsl(0, 0%, 24%);
}

.main-color {
    color: hsl(28, 87%, 65%);
}

h1, h2, h5 {
    font-family: 'Fjalla One', Helvetica, sans-serif;
}

#brand-name {
    font-size: 2rem;
    color: hsl(0, 0%, 95%);
}

.navbar {
    height: 80px;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img-carousel {
    object-fit: cover;
    opacity: 0.85;
}

.carousel-caption {
    color: hsl(0, 0%, 98%);
    text-shadow: 2px 2px 19px rgba(0, 0, 0, 0.16);
}

.carousel-caption-h1 {
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.1);
    font-size: 3.0rem;
}

.carousel-caption-h1-sub {
    font-size: 3.5rem;
}

.btn-telegram, .btn-whatsapp {
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.16);
}

.purchase-contact {
    background-color: hsl(28, 87%, 65%);
    color: hsl(0, 0%, 95%);
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.16);
}

.purchase-contact-card-title {
    font-size: 3rem;
}